@{
    ViewData["Title"] = "Delete Release";
}
@model netasloc.Web.Models.ViewModels.ReleaseDetailsViewModel

<div class="section-container">
    <div class="row-fluid cards">
        <div class="card-deck">
            <div class="card shadow card-theme card-bottom">
                <div class="card-header card-header-theme">
                    <h3>Are you sure you want to delete this?</h3>
                    <form asp-controller="Release" asp-action="Delete">
                        <input type="hidden" asp-for="Release.ID" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        | 
                        <a asp-controller="Release" asp-action="Details" asp-route-id="@Model.Release.ID" class="btn btn-info">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class="card-deck">
            <div class="card shadow card-theme card-bottom">
                <div class="card-header card-header-theme">
                    <h5>Release Details</h5>
                </div>
                <div class="card-body">
                    <div class="table-container table-responsive" id="releases-table-container">
                        <table class="table table-inverse table-bordered table-hover thead-dark table-sm">
                            <tbody>
                                <tr>
                                    <th>Release ID</th>
                                    <td>@Model.Release.ID</td>
                                </tr>
                                <tr>
                                    <th>Release Created At</th>
                                    <td>@Model.Release.CreatedAt</td>
                                </tr>
                                <tr>
                                    <th>Release Last Updated At</th>
                                    <td>@Model.Release.UpdatedAt</td>
                                </tr>
                                <tr>
                                    <th>Release Code</th>
                                    <th>@Model.Release.ReleaseCode</th>
                                </tr>
                                <tr>
                                    <th>Release Start Date</th>
                                    <td>@Model.Release.ReleaseStart</td>
                                </tr>
                                <tr>
                                    <th>Release End Date</th>
                                    <td>@Model.Release.ReleaseEnd</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td>@Model.Release.TotalLineCount</td>
                                </tr>
                                <tr>
                                    <th>Comment</th>
                                    <td>@Model.Release.CommentLineCount</td>
                                </tr>
                                <tr>
                                    <th>Empty</th>
                                    <td>@Model.Release.EmptyLineCount</td>
                                </tr>
                                <tr>
                                    <th>SLOC</th>
                                    <td>@Model.Release.CodeLineCount</td>
                                </tr>
                                <tr>
                                    <th>LOC Difference</th>
                                    <td>@Model.Release.DifferenceLOC</td>
                                </tr>
                                <tr>
                                    <th>SLOC Difference</th>
                                    <td>@Model.Release.DifferenceSLOC</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card-deck">
            <div class="card shadow card-theme card-bottom">
                <div class="card-header card-header-theme">
                    <h5>Analyze Results for Release</h5>
                </div>
                <div class="card-body">
                    <div class="table-container table-responsive" id="releases-table-container">
                        <table class="table table-inverse table-bordered table-hover thead-dark table-sm">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>Analyze Result ID</th>
                                    <th>Created At</th>
                                    <th>Directory Count</th>
                                    <th>LOC</th>
                                    <th>Comment</th>
                                    <th>Empty</th>
                                    <th>SLOC</th>
                                    <th>LOC Difference</th>
                                    <th>SLOC Difference</th>
                                </tr>
                                @foreach (var item in Model.AnalyzeResults)
                                {
                                    <tr>
                                        <td><a asp-controller="Analyze" asp-action="Details" asp-route-id="@item.ID">Details</a></td>
                                        <td>@item.ID</td>
                                        <td>@item.CreatedAt</td>
                                        <td>@item.DirectoryCount</td>
                                        <td>@item.TotalLineCount</td>
                                        <td>@item.CommentLineCount</td>
                                        <td>@item.EmptyLineCount</td>
                                        <td>@item.CodeLineCount</td>
                                        <td>@item.DifferenceLOC</td>
                                        <td>@item.DifferenceSLOC</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
