@{
    ViewData["Title"] = "Analyzes";
}

<div class="section-container">
    <div class="row-fluid cards">
        <div class="card shadow card-theme card-bottom">
            <div class="card-body">
                <div class="table-container table-responsive" id="releases-table-container">
                    <table class="table table-inverse table-bordered table-hover thead-dark table-sm">
                        <tbody>
                            <tr>
                                <th>Release Code</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <th>@item.ReleaseCode</th>
                                    }*@
                            </tr>
                            <tr>
                                <th>LOC</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <td>@item.TotalLineCount</td>
                                    }*@
                            </tr>
                            <tr>
                                <th>Comment</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <td>@item.CommentLineCount</td>
                                    }*@
                            </tr>
                            <tr>
                                <th>Empty</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <td>@item.EmptyLineCount</td>
                                    }*@
                            </tr>
                            <tr>
                                <th>SLOC</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <td>@item.CodeLineCount</td>
                                    }*@
                            </tr>
                            <tr>
                                <th>LOC Difference</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <td>@item.DifferenceLOC</td>
                                    }*@
                            </tr>
                            <tr>
                                <th>SLOC Difference</th>
                                @*@foreach (var item in Model.Releases.Releases)
                                    {
                                        <td>@item.DifferenceSLOC</td>
                                    }*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

